@import "../../utils/variables.module.scss";

.projects {
    position: relative;
    font-family: "portfolio_bold";
    color: white;

    h2 {
        font-size: 4rem;

        @include screen_sm {
            font-size: 3rem;
        }
    }

    &_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.tags {
    margin: 10px 0;
    padding: 8px 16px;
    outline: none;

    &__repo {
        background-color: white;
        color: $primaryColor;
    }

    &__site {
        background-color: $tertiaryColor;
        color: white;
    }
}